%a.replace(href="/Sequence/attach?file=local:genes_at_genomic_positions:#{jobname}&organism=#{step.info[:inputs][:organism]}&databases=KEGG:pathways,Cancer:Types,PharmaGKB:pathways&_page=1") Annotated Genes
