%header Gene mention recognition

%ul
  - result.each do |mention|
    - if String === mention.code and mention.code =~ /Ensembl Gene ID:./
      - gene = Gene.setup(mention.code.split(":").last, "Ensembl Gene ID", "Hsa/jun2011")
      %li= gene.link
    - else
      %li= mention
