- entity_card = EntityCard.new entity
- entity_card.name = "PMID"
- entity_card.long_name = entity.title
- entity_card.description = entity.abstract

- entity_card.action_controller = default_action_controller entity

= entity_card_render entity_card

