- entity_list_card = EntityListCard.new list, list_id

- entity_list_card.action_controller = default_action_controller list, list_id

- entity_list_card.description do

  - g = Graph.new($knowledge_base)
  - g.entities["Gene"] = list.ensembl.compact

  - if list.length < 1_200
    = tool :cytoscape, :graph => g, :id => Misc.snake_case(list_id)

= entity_list_card_render entity_list_card


