.jmol(id=jmol_id style="height:400px")
  %select.pdb(style='width: 200px')
    %option(selected="selected") Select a pdb
    - pdbs.each do |pdb, info| 
      %option(attr-pdb=pdb)= "#{pdb}"
 
  .window

  :javascript

    deffer(function(){
      var jmol_window = $('.jmol > .window')

      $.getScript("/js/jquery-jmol/jquery.jmol.js", function(){
        jmol_window.jmol({
          appletUrl : '/js/jmol',
          width: 640,
          height: 480,
          menuUrl : '/jmol/jmol.mnu',
          background: '#000',
          useSigned: true
        });

        $('select.pdb').change(function(){
          var option = $(this).find('option:selected');
          var pdb = option.attr('attr-pdb');
          if (pdb == "Select a pdb") return false
          $('#jmol').attr('attr-loaded-pdb', pdb)
          jmol_window.data('jmol').script("load=" + pdb + "; wireframe off; restrict water; select protein; backbone off; color pink;cartoons on;color structure;", "#{jmol_id}");
        })
      })

    })

