- studies = user_studies[user];

- action_card = ActionCard.new do
  - input :study, :select, "Study", nil, :select_options => studies
 
- action_card.require :study

= action_card_render action_card do
  - Study.setup(study)
  = fragment study.action_link("gene_in_study", "#{ entity } in #{ study }", :gene => entity.ensembl)

